#inner{
    display: flex;
    justify-content: space-evenly;
}
/* .tile{
    margin-left: 80pxpx;
    box-shadow: 0px 0px 2px grey;
} */
#inn{
    border: width border-style color;
    border-width: 100px;
    border-radius: 2px;      
}
#gh{
    display: inline-flex;
}